.btn{
    background-color: transparent;
    box-sizing: border-box;
    cursor: pointer;
    padding: 0;
}

.btn_logo{
    width: 100px;
    height: 100px;
    border: 0;
    background-image: url("../../../public/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.btn_movePage{
    border: 0;
    transition: color 0.3s;
}
.btn_submit{
    border: 0;
    transition: color 0.3s;
}

.btn_movePage:hover {
    color: black !important;
}