.btn{
    background-color: transparent;
    box-sizing: border-box;
    cursor: pointer;
    padding: 0;
}

.btn_logo{
    width: 120px;
    height: 120px;
    border: 0;
    background-image: url("../../../public/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.btn_movePage{
    border: 0;
    transition: color 0.3s;
}

.btn_submit{
    background: #000;
    color: #fff;
    border: none;
    padding: 10px 30px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.btn_movePage:hover {
    color: black !important;
}

.btn_cancel{
    background: #888;
    color: #fff;
    border: none;
    padding: 10px 30px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}
