body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* ✅ 좌우 스크롤 제거 */
}

html {
  overflow-x: hidden;
}

.home-container {
  text-align: center;
  background-color: white;
}

.home-header {
  /* display: flex; */
  align-items: center;
  background-color: white;
  margin-bottom: 24px;
}

.logo {
  height: 100px;
  margin-top: 30px;
}

.nav-menu a {
  margin: 3px 20px 0;
  padding: 8px 0 30px;
  color: #000;
  letter-spacing: 0.06em;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s;
  text-decoration: none;
}

.nav-menu a:hover {
  text-decoration: underline;
}

.main-banner {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  margin-top: 10px;
}

.home-title {
  margin-top: 30px;
  font-size: 28px;
  color: #333;
}

.home-description {
  font-size: 13px;
  font-weight: bold;
  color: black
}

.home-subtitle{
  font-size: 15px;
  font-weight: 300;
  color: #333333;
  line-height: 1.7;
}

.info-banner-section {
  display: flex;
  justify-content: space-between;  /* ✅ 좌우로 쫙 벌림 */
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px;
  padding: 60px 20px;
}

.info-banner-card {
  flex: 1 1 300px;
  max-width: 320px;
  text-align: center;
}

.info-banner-card img {
  width: 100%;

  border-radius: 12px;
  object-fit: cover;
  margin-bottom: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.info-banner-card h3 {
  font-size: 17px;
  font-weight: 600;
  margin: 0 0 6px;
  color: #222;
}

.info-banner-card p {
  font-size: 14px;
  color: #888;
  margin: 0;
}

